<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pokey.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PokeyWatch Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>291ED9F62C4EA7ED007B6A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>291EDA092C4EA7EE007B6A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>291EDA132C4EA7EE007B6A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>291EDA2A2C4EA97F007B6A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>291EDA392C4EA980007B6A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>291EDA432C4EA980007B6A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
